.menu {
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid gray
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    text-align: right;
}

ul{
    margin: 0;
    padding: 0;
}

.nav {
  margin: 0;
}

.nav ul li {
  display: inline-block;
}



.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.headerborder{
    border-bottom: solid 1px;
    margin-top: 25px;
    padding-bottom: 25px;
}

.navegation{
    grid-column-start: 7;
    grid-column-end: 13;    
    width: 80%;
    text-align: right;
}

@media only screen and (max-width: 576px) {
    #ocultar{
        display: none;
    }

}

@media (max-width: 992px) {
    .nav{
        text-align: right;
    }

}